{% extends 'base.html.twig' %}

{% block body %}

    <ol>
        {% for item in items %}
            <li>
                {% if item.doi|default(null) %}
                    <a href="{{ path('itemDoi', {doi: item.doi}) }}">
                {% else %}
                    <a href="{{ path('item', {id: item.id}) }}">
                {% endif %}
                    {{ item.title|raw }}
                </a>
            </li>
        {% endfor %}
    </ol>

{% endblock body %}
