{% extends 'base.html.twig' %}

{% block body %}

    <ol id="items">
        {% for item in items %}
            <li>
                <a href="{{ path('item', {id: item.id}) }}" class="item">{{ item.title|raw }}</a>
            </li>
        {% endfor %}
    </ol>

    <form id="get_item" action="{{ path('item') }}">
        <label>
            Item ID
            <input name="id" required>
        </label>
        <input type="submit">
    </form>

{% endblock body %}
